#logo1 path:nth-child(1) {
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  animation: line-anim 2s ease forwards;
}

#logo1 path:nth-child(2) {
  stroke-dasharray: 463;
  stroke-dashoffset: 463;
  animation: line-anim 2 ease forwards 0.3s;
}

#logo1 path:nth-child(3) {
  stroke-dasharray: 495;
  stroke-dashoffset: 495;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo1 path:nth-child(4) {
  stroke-dasharray: 226;
  stroke-dashoffset: 226;
  animation: line-anim 2s ease forwards 0.9s;
}


#logo2 path:nth-child(1) {
  animation-delay: 0s;
}

#logo2 path:nth-child(1) {
  animation-delay: 0.1s;
}

#logo2 path:nth-child(1) {
  animation-delay: 0.15s;
}


#logo3 path:nth-child(1) {
  stroke-dasharray: 10px;
  stroke-dashoffset: 50px;
  animation: line-anim 2s ease forwards;
}

#logo3 path:nth-child(2) {
  stroke-dasharray: 10px;
  stroke-dashoffset: 50px;
  animation: line-anim 2 ease forwards 0.3s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: white;
  }
}
